---
layout: default
---
<article>
 
 <div class="masthead" style="
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
">
        <h3 class="masthead-title">
          <a href="/" title="Home">Deryk Makgill</a>

          
              &nbsp;&nbsp;&nbsp;<small><a href="/about/">About</a></small>
          

        </h3>
      <p class="header" style="
    margin-top: 20px;
">I am the <a href="#rails">creator of Ruby on Rails</a>, <a href="#basecamp">cofounder &amp; CTO at Basecamp</a>, <a href="#rework">best-selling author</a>, <a href="#driver">Le Mans class-winning racing driver</a>, <a href="#podcasts">frequent podcast guest</a>, and <a href="#family">family man</a>.</p></div>
 
{{ content }}
</article>
